.vs/
bin/
obj/
API/bin/
API/obj/
InterfaceAdapters/bin/
InterfaceAdapters/obj/
InterfaceAdapters.Tests/bin/
InterfaceAdapters.Tests/obj/
Entidades/bin/
Entidades/obj/
Entidades.Tests/bin/
Entidades.Tests/obj/
Infra/bin/
Infra/obj/
Infra.Tests/bin/
Infra.Tests/obj/